@import "components/variables", "components/reset";

body {
  font-family: "Nunito";
  color: $black_lm;
}

.main {
  min-height: 90vh;
}

.default-title {
  @include font-size($fontSizeXL);
  font-weight: bold;
  text-align: start;
  width: 100%;
}
