.carousel {
  max-width: 1000px;
  max-height: 500px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 4px 0 #000;
  position: absolute;
  transition: opacity 0.5s ease;
}
.carousel__img {
  max-width: 1000px;
  object-fit: cover;
  object-position: center;
}
.carousel__title {
  bottom: 40px;
  left: 30px;
  position: absolute;
  z-index: 2;
  font-size: 2rem;
  color: #ededed;
  font-weight: bold;
  text-shadow: 1px 1px 1px #44444499;
}
.carousel__mask {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000099;
}

.carousel-dots {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.carousel-dots .dot {
  cursor: pointer;
  margin-right: 1.5rem;
  width: 7rem;
  height: 8px;
  background-color: #dedede;
}
.carousel-dots .dot.active {
  background-color: #e55461 !important;
}

.hidden {
  opacity: 0;
}