@import "variables";

.header {
  padding: 2em 0;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .list {
    padding: 1rem 0;
    display: flex;
    &__item {
      padding: 5px 1.5rem;
      &:not(:last-child) {
        border-right: 1px solid $black_llo;
      }
      a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        @include font-size($fontSizeN);
        transition: color 0.2s ease;
        &:hover {
          color: $red;
        }
      }
    }
  }

  & .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $black_llo;
    &__title {
      margin-left: 1rem;
      @include font-size($fontSizeXL);
      font-weight: 900;
      font-style: italic;
    }
    &__img {
      width: 60px;
      height: 60px;
    }
  }
}
