@import "variables";

.teams {
  background-color: $gray;
  width: 100%;
  &__content {
    @include defaultWidth;
    padding: 2.5rem;
    box-sizing: border-box;
  }
  &__title {
    margin-bottom: 2rem;
  }
  @include media-mobile {
    &__content {
      padding: 1.5rem;
    }
  }
  @include media-small-mobile {
    font-size: 12px;
  }
}

.team {
  &__header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  &__arrow {
    @include width(20px);
    transform: rotate(90deg);
    margin-left: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    &.rotate {
      transform: rotate(270deg);
    }
  }
  &__title {
    @include font-size($fontSizeL);
    font-weight: bold;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      width: 100%;
      padding: 1px;
      margin-left: 15px;
      border-radius: 4px;
      background-color: $black_lmo;
    }
  }
  &__img {
    margin-top: 0.5rem;
    max-width: 100%;
  }
  &__content {
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &.noVisible {
      display: none;
    }
  }
  &__block {
    width: 100%;
    text-align: center;
    &-info {
      min-height: 50px;
    }
    &-label {
      @include font-size($fontSizeXM);
      font-weight: 500;
      margin-bottom: 0.2rem;
    }
    &-des {
      color: $black_lmox;
      @include font-size($fontSizeXS);
    }
  }
  @include media-mobile {
    &__content {
      flex-direction: column;
    }
    &__block {
      margin-bottom: 2rem;
      &-info {
        text-align: start;
      }
    }
  }
  @include media-small-mobile {
    &__block-info {
      font-size: 14px;
    }
  }
}
