.header {
  padding: 2em 0;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .list {
  padding: 1rem 0;
  display: flex;
}
.header .list__item {
  padding: 5px 1.5rem;
  border-right: 1px solid #44444466;
}
.header .list__item:last-child {
  border-right: 0;
}
.header .list__item a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}
.header .list__item a:hover {
  color: #e55461;
}
.header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #44444466;
}
.header .logo__title {
  margin-left: 1rem;
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
}
.header .logo__img {
  width: 60px;
  height: 60px;
}